.blue-title {
    font-size: 2.75rem;
    line-height: 1;
    background-image: linear-gradient(
        142deg,
        rgb(49, 160, 255) 0%,
        rgb(0, 85, 211) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animatedGradient 6s ease infinite;
    background-size: 200% 200%;
}

.progress-bar {
    animation: customizePageProgressbar 7s infinite linear;
}

@keyframes customizePageProgressbar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes animatedGradient {
    0% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 91% 100%;
    }
    100% {
        background-position: 10% 0%;
    }
}
