/* .angle-input-container::after {
    content: "deg";
    font-weight: "600";
    position: absolute;
    top: 2px;
    right: 0.5em;
    transition: all 0.05s ease-in-out;
}

.angle-input-container:hover::after,
.angle-input-container:focus-within::after {
    right: 1.5em;
} */

.gradient-option {
    transition: ease-in-out 0.15s;
    cursor: pointer;
}

.gradient-option:hover {
    transform: scale(1.1);
}

.active-gradient-option {
    border: 3px solid #000000;
    box-shadow: 0px 0px 10px #000000a2;
    color: #ffff0f;
}

.next-gradient-button {
    background: linear-gradient(141.92deg, #33ff00 27.34%, #00ff38 83.37%);
    animation: animatedGradient 6s ease infinite;
    background-size: 200% 200%;
    box-shadow: 0 0 45px rgb(91 237 52 / 80%);
    filter: brightness(1.1);
    transition: ease-in-out 0.15s;
}

.next-gradient-button:hover {
    filter: brightness(1.25);
    box-shadow: 0 0 45px 1.5rem rgb(91 237 52 / 80%);
}
