.floating {
    margin: auto;
    box-shadow: -20px 14px 54px rgba(0, 0, 0, 0.55);
    font-size: 18px;
    border-radius: 1rem;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    /* background: linear-gradient(145deg, #4684c1, #343174); */
    transform: rotateX(17deg) rotateY(18deg);
    animation: animatedGradient 6s ease infinite;
    background-size: 200% 200%;
}

.ethCard {
    background: linear-gradient(315deg, #3fe0f1, #14044d);
    animation: animatedGradient 6s ease infinite;
    background-size: 200% 200%;
}

.ethCard .thickness {
    background: linear-gradient(315deg, #3fe0f1, #14044d);
    animation: animatedGradient 6s ease infinite;
    background-size: 200% 200%;
    filter: brightness(50%);
}

.cashappCard {
    background: linear-gradient(315deg, #00d632, #008a20);
    animation: animatedGradient 6s ease infinite;
    background-size: 200% 200%;
}

.cashappCard .thickness {
    background: linear-gradient(315deg, #00d632, #008a20);
    animation: animatedGradient 6s ease infinite;
    background-size: 200% 200%;
    filter: brightness(50%);
}

.thickness {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    transform: translateZ(-4px);
}

.thickness:nth-child(2) {
    transform: translateZ(-9px);
}
.thickness:nth-child(3) {
    transform: translateZ(-12px);
}

@keyframes animatedGradient {
    0% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 91% 100%;
    }
    100% {
        background-position: 10% 0%;
    }
}
