.Home {
    min-height: calc(100vh - 115px);
}

.main-container {
    height: calc(100vh - 115px);
}

/* .main-container::after {
    content: "";
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to bottom, #ffff0f, #000000);
    position: absolute;
    top: 100%;
} */

/* .main-title {
    font-size: 55px;
    line-height: 1;
    background-image: linear-gradient(
        142deg,
        rgb(49, 160, 255) 0%,
        rgb(0, 85, 211) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animatedGradient 10s ease infinite;
    background-size: 200% 200%;
} */

@keyframes animatedGradient {
    0% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 91% 100%;
    }
    100% {
        background-position: 10% 0%;
    }
}

/* .sub-title {
    color: #003d71;
} */
