.Home {
    height: calc(100vh - 115px);
}

.main-container {
    height: calc(100vh - 115px);
    max-height: calc(100vh - 115px) !important;
}

.create-button:hover p:last-of-type {
    margin-left: 1.5rem;
}
.sub-title {
    width: 36.5%;
}

@media (max-width: 800px) {
    .sub-title {
        width: 90%;
    }
}

@keyframes animatedGradient {
    0% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 91% 100%;
    }
    100% {
        background-position: 10% 0%;
    }
}

.psuedo-element::after {
    content: "";
}

.card-0 {
    transform: translate(2.5rem, 2.5rem);
    z-index: 4;
}

.card-1 {
    /* transform: translate(3vh, 3vh); */
    z-index: 3;
}
.card-2 {
    transform: translate(-2.5rem, -2.5rem);
    z-index: 2;
}
.card-3 {
    /* transform: translate(1vh, 1vh); */
    z-index: 1;
}
